# === Pastas Específicas do Projeto ===
migrations/
venv/
build/
dist/
__pycache__/

# === Banco de Dados (Local) ===
# Ignora o banco de dados e arquivos de projeto do DB Browser
quadro_local.db
quadro_local.sqbpro
*.sqlite

# === Logs ===
log.txt
*.log

# === Configurações de IDE ===
.vscode/
.idea/

# === Arquivos Python ===
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg

# === Ferramentas e Executáveis ===
nssm.exe
nssm-2.24/
Launcher.spec
QuadroDePedidos.spec

# === Arquivos Temporários e de Exportação ===
firebase_export.json
.DS_Store
Thumbs.db