<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadro de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Quadro de Pedidos</h1>
    </header>

    <main>
       
        <hr>

        <!-- Seção do Quadro de Pedidos (visível para todos) -->
        <section class="board-container">
            <h2>Quadro de Requisições</h2>
            <div id="quadro-pedidos">
                <!-- Os cards de pedidos serão inseridos aqui pelo JavaScript -->
            </div>
        </section>
    </main>

    
</body>
</html>